{{ 'component--announcement-bar.css'| asset_url| stylesheet_tag }}

<style>
    #announcement-bar {
        background-color: {{ settings.announcement_background_color | default: 'var(--black-no-change)' }};
        color: {{ settings.announcement_color | default: 'var(--white-no-change)' }};
    }
</style>

{% if settings.announcement_marquee_mode == true %}
    <script>
        document.getElementsByTagName('body').classList.add("marquee-enabled");
    </script>
    <div id="announcement-bar--marquee" class="marquee-holder">
        <div class="close-marquee">
            <span class="close-marquee-icon">&times;</span>
        </div>

        <div class="announcement-marquee-wrapper">
            {% for i in (1..12) %}
                <div class="announcement-marquee-box">&nbsp;{{ settings.marquee_content | default: ' announcements ' }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div id="announcement-bar">
        <div class="announcement-wrapper">
            {{ settings.announcement_content | default: 'announcements' }}

            <div class="close-announcement">
                <span class="close-announcement-icon">&times;</span>
            </div>
        </div>
    </div>
{% endif %}


<script>
    /*
    *  Close Announcements
    */
    var announcementBar = document.getElementById('announcement-bar');
    var closeAnnouncement = function() {
        announcementBar.style.display = 'none';
    }
    document.querySelector('.close-announcement-icon').addEventListener('click', function() {
        closeAnnouncement();
    });

    /*
    *  Close Marquee
    */ 
    var marqueeBar = document.getElementById('announcement-bar--marquee');
    var closeMarquee = function() {
        marqueeBar.style.display = 'none';
    }
    document.querySelector('.close-marquee-icon').addEventListener('click', function() {
        closeMarquee();
    });
</script>



