{{ 'component--announcement-bar.css'| asset_url| stylesheet_tag }}

<style>
    .announcement-bar {
        background-color: {{ settings.announcement_background_color | default: 'var(--black-no-change)' }};
        color: {{ settings.announcement_color | default: 'var(--white-no-change)' }};
    }
</style>

{% if settings.announcement_marquee_mode == true %}
    <script>
        document.getElementsByTagName('body').classList.add("marquee-enabled");
    </script>
    <div id="announcement-bar--marquee" class="marquee-holder announcement-bar">
        <div class="close-marquee">
            <p class="close-marquee-icon">&times;</p>
        </div>

        <div class="announcement-marquee-wrapper">
            {% for i in (1..12) %}
                <div class="announcement-marquee-box">&nbsp;{{ settings.announcement_content | default: ' announcements ' }}</div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div id="announcement-bar" class="announcement-bar">
        <div class="announcement-wrapper">
            {{ settings.announcement_content | default: 'announcements' }}

            <div class="close-announcement">
                <p class="close-announcement-icon">&times;</p>
            </div>
        </div>
    </div>
{% endif %}



