{{ 'snippet--breadcrumbs.css' | asset_url | stylesheet_tag }}

{% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}

{% assign t = template | split: '.' | first %}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ul>
    <li>
      <a tabindex="0" role="button" href="/" title="Home">Home</a>
    </li>

  {% case t %}
  {% when 'page' %}

    <li>
      <a tabindex="0" role="button" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
    </li>

  {% when 'product' %}

    {% if collection.url %}
      <li>
        {{ collection.title | link_to: collection.url }}
      </li>
    {% endif %}

    <li>
      <a tabindex="0" role="button" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
    </li>

  {% when 'collection' and collection.handle %}

    {% if current_tags %}
        <li>{{ collection.title | link_to: collection.url }}</li>
        <li>
            {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+"}}{% endcapture %}
            <a tabindex="0" role="button" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
        </li>
    {% else %}
        <li>
            <a tabindex="0" role="button" href="/collections/all">{{ 'Collections' | escape }}</a>
        </li>
        <li>
            <a tabindex="0" role="button" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
        </li>
    {% endif %}

  {% when 'blog' %}

    {% if current_tags %}
        <li>{{ blog.title | link_to: blog.url }}</li>
        <li>
            {% capture tag_url %}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
            <a tabindex="0" role="button" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
        </li>
    {% else %}
      <li>
        <a tabindex="0" role="button" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
      </li>
    {% endif %}

  {% when 'article' %}

    <li>{{ blog.title | link_to: blog.url }}</li>
    <li>
      <a tabindex="0" role="button" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
    </li>

  {% else %}

    <li aria-current="page">
      <a tabindex="0" role="button" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
    </li>

  {% endcase %}

  </ul>
</nav>
{% endunless %}