{% comment %} 
*
*  Image Slide
*
{% endcomment %}

<style>
    .slide-image.desktop {
      display: block;
    }
    .slide-image.mobile {
      display: none;
    }
    @media screen and (max-width: 767px) {
      .slide-image.mobile {
        display: block;
      }
      .slide-image.desktop {
        display: none;
      }
    }
</style>

<div class="swiper-slide slide__image" data-type="image">
    <div onclick="window.location='{{ block.settings.image_slide_url }}';" class="slide-image desktop" data-type="image" data-layout="image" style="background-image: url('{{ block.settings.image_slide_image | image_url }}'); background-size: cover; background-position: top center;">
    </div>

    <div class="slide-image mobile" data-type="image" data-layout="image" style="background-image: url('{{ block.settings.image_slide_image_mobile | image_url }}'); background-size: cover; background-position: top center;">
    </div>

    {% comment %} Slide Box {% endcomment %}
    {% if block.settings.image_slide_subtitle != empty and block.settings.image_slide_title != empty and block.settings.image_slide_text_body != empty and block.settings.image_slide_url != empty %}
      <div class="slide-box">
        <div class="box-wrap">

          <div class="titles">
            <a href="{{ block.settings.image_slide_url }}">
              <span class="subtitle">
                {{ block.settings.image_slide_subtitle }}
              </span>
            </a>

            <h1 class="title">
              <a href="{{ block.settings.image_slide_url }}">{{ block.settings.image_slide_title }}</a>
            </h1>
          </div>

          <div class="texts">
            <a href="{{ block.settings.image_slide_url }}">
              {{ block.settings.image_slide_text_body | newline_to_br }}
            </a>
          </div>

        </div>  
      </div> 
    {% endif %}
    

</div>