{% comment %} 
*
* Artist Radios 
*
{% endcomment %}

<fieldset class="artist-radios">
    {% comment %}  
    <label value="{{ 'Dais Records' }}">
        <input class="artist-radio" data-artist="{{ 'Dais Records' }}" type="radio" value="{{ 'Dais Records' }}">
        {{ 'Dais Records' }}
    </label>
    {% endcomment %}
    
    {% for coll in collections %}
        {% case coll.template_suffix %}
            {% when 'artist' %}

                {% comment %}
                original loop
                {% for prod in coll.products %}
                    {% for vari in prod.variants %}
                        {% if vari.inventory_quantity > 0 %}
                            {% assign stock = true %}
                        {% else %}
                            {% assign stock = false %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% endcomment %}

                {% for prod in coll.products %}
                    
                        {% if prod.available %}
                            {% assign stock = true %}
                        {% else %}
                            {% assign stock = false %}
                        {% endif %}
                  
                {% endfor %}

                {% if coll.title == 'ADULT.' %}
                
                    <label class="artist-label" for="adult">
                        <input class="artist-radio" data-artist="ADULT." type="radio" value="adult">
                        {{ 'ADULT.' }}
                    </label>

                {% elsif coll.title == 'JH1.FS3' %}

                    <label class="artist-label" for="jh1-fs3">
                        <input class="artist-radio" data-artist="JH1.FS3" type="radio" value="jh1-fs3">
                        {{ 'JH1.FS3' }}
                    </label>

                {% elsif coll.title == 'Merzbow + Hexa' %}

                    <label class="artist-label" for="Merzbow + Hexa">
                        <input class="artist-radio" data-artist="{{ 'Merzbow + Hexa' }}" type="radio" value="Merzbow + Hexa">
                        {{ 'Merzbow + Hexa' }}
                    </label>

                {% elsif coll.title == 'Body of Light' %}

                    <label class="artist-label" for="Body of Light">
                        <input class="artist-radio" data-artist="Body of Light" type="radio" value="Body of Light">
                        Body of Light
                    </label>

                {% elsif coll.title == 'Cold Showers' %}

                    <label class="artist-label" for="Cold Showers">
                        <input class="artist-radio" data-artist="Cold Showers" type="radio" value="Cold Showers">
                        Cold Showers
                    </label>

                {% elsif coll.title == 'Death Bells' %}

                    <label class="artist-label" for="Death Bells">
                        <input class="artist-radio" data-artist="Death Bells" type="radio" value="Death Bells">
                        Death Bells
                    </label>

                {% elsif coll.title == 'Hiro Kone' %}

                    <label class="artist-label" for="Hiro Kone">
                        <input class="artist-radio" data-artist="Hiro Kone" type="radio" value="Hiro Kone">
                        Hiro Kone
                    </label>

                {% elsif coll.title == 'Stephen Mallinder' %}

                    <label class="artist-label" for="Stephen Mallinder">
                        <input class="artist-radio" data-artist="Stephen Mallinder" type="radio" value="Stephen Mallinder">
                        Stephen Mallinder
                    </label>

                {% elsif coll.title == 'Tor Lundvall' %}

                    <label class="artist-label" for="Tor Lundvall">
                        <input class="artist-radio" data-artist="Tor Lundvall" type="radio" value="Tor Lundvall">
                        Tor Lundvall
                    </label>

                {% elsif coll.title == 'High-Functioning Flesh' %}

                    <label class="artist-label" for="High-Functioning Flesh">
                        <input class="artist-radio" data-artist="High-Functioning Flesh" type="radio" value="High-Functioning Flesh">
                        High-Functioning Flesh
                    </label>

                {% elsif coll.title == 'Martial Canterel' %}

                    <label class="artist-label" for="Martial Canterel">
                        <input class="artist-radio" data-artist="Martial Canterel" type="radio" value="Martial Canterel">
                        Martial Canterel
                    </label>

                {% elsif coll.title == 'Them Are Us Too' %}

                    <label class="artist-label" for="Them Are Us Too">
                        <input class="artist-radio" data-artist="Them Are Us Too" type="radio" value="Them Are Us Too">
                        Them Are Us Too
                    </label>

                {% else %}

                    {% if stock == true %}
                        <label class="artist-label" for="{{ coll.title }}">
                            <input class="artist-radio" data-artist="{{ coll.title }}" type="radio" value="{{ coll.title }}">
                            {{ coll.title }}
                        </label>
                   {% endif %}
                {% endif %}

        {% endcase %}
    {% endfor %}
    
    {% comment %}  
    {% for product in collections.all.products %}

        {% case product.type %}
            {% when 'Vinyl' %}

                {% for collection in collections %}
                    {% if collection.title == product.vendor %}
                        <label value="{{ collection.title }}">
                            <input class="artist-radio" data-artist="{{ collection.title }}" type="radio" value="{{ collection.title }}">
                            {{ collection.title }}
                        </label>
                    {% endif %}
                {% endfor %}

        {% endcase %}

    {% endfor %}
    {% endcomment %}


</fieldset>
        
<script>
(function($) {
    $(document).ready(function() {
        $(".artist-label").click(function(){
            var val =  $(this).find('input[type="radio"]').attr('data-artist');
            window.location="?filter.p.vendor=" + val;
            //window.location="?filter.p.collection=" + val;
        });
    });
})(jQuery);
</script>