<li class="tour-block">

    {% comment %}
    *
    * Image
    *
    {% endcomment %}
    <div class="image" style="background: url('{{ coll.image | image_url: width: '700' }}'); background-size: cover; background-position: {{ coll.image.presentation.focal_point }};">
        &nbsp;
    </div>

    {% comment %}
    *
    * Artist
    *
    {% endcomment %}
    <div class="artist">
        <a href="{{ coll.url }}" title="{{ coll.title }}">
            <h2>{{ coll.title }}</h2>
        </a>                                     
    </div>

    {% comment %}
    *
    * Dates
    *
    {% endcomment %}
    {% for item in coll.metafields.artist.tour_dates.value %}
        <div class="info">

            <div class="title">
                <h3>{{ item.title }}</h3>
            </div>

            {% if item.lineup.value != blank %}
                <div class="lineup">
                    <div class="icon">
                        &plus;
                    </div>
                    <div class="list">
                        {% for lineup in item.lineup.value %}
                            {% if forloop.last %}
                                {{ lineup }}
                            {% else %}
                                {{ lineup }}{{  ',&nbsp;' |  escape_html }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="dates">
                {{ item.dates | metafield_tag }}
            </div>

            {% if item.flier.value != blank %}
            <div class="flier flier-trigger" data-image="{{ item.flier.value | image_url: width: '900' }}">
                <p>Tour Flier</p>
            </div>
            {% endif %}

            <div class="tour-modal"></div>

        </div>
    {% endfor %}

</li>