{{ 'page--search-results.css' | asset_url | stylesheet_tag }}

<div class="search-page">
  <div class="search-page-wrapper">

    {% render 'breadcrumbs' %}

    <div class="search-form">
      <form action="/search" method="get" role="search">
        <input name="q" type="search" id="search-field" placeholder="Search the shop" value="{{ search.terms | escape }}" />
        <input type="submit" value="{{ settings.search_button | default: "Start search" }}" />
      </form>
    </div>

    {% if search.performed %}
      {% paginate search.results by 100 %}
        
        {% if search.results_count == 0 %} 

          <div class="no-results">
            Your search for "{{ search.terms }}" did not yield any results.    
          </div>       

        {% else %}

          {% for item in search.results %} 
            {% if item.object_type == 'page' and item.handle == 'tours' %}
              <div class="on-tour-notifier">
                <a href="/pages/tours/"><p>This artist has Tour Dates</p>{% render 'icon--arrow-right' %}</a>
              </div>
            {% endif %}
          {% endfor %}

          <ul class="results">

            {% for item in search.results %}      

              {% if item.object_type == 'page' and item.handle == 'tours' %}
              {% else %}

                <li>

                  {% comment %} IMAGE {% endcomment %}
                  {% if item.object_type == 'product' %}
                    
                    <div class="image" onclick="window.location='{{ item.url }}';" style="background: url('{{ item.featured_image | image_url: width: '500' }}'); background-size: cover; background-position: center center;">
                      
                      {% comment %} SOLDOUT? {% endcomment %}
                      {% if item.object_type == 'product' %}
                        {% if item.available == false %}
                          <div class="soldout-tag">
                            <span class="tag">
                              {{ 'Sold Out' | escape }}
                            </span>
                          </div>
                        {% endif %}
                      {% endif %}

                    </div>


                  {% endif %}
                  {% if item.object_type == 'article' %}
                    <div class="image" onclick="window.location='{{ item.url }}';" style="background: url('{{ item.image | image_url: width: '500' }}'); background-size: cover; background-position: center center;"></div>
                  {% endif %}

                  {% comment %} NEWS {% endcomment %}
                  {% if item.object_type == 'article' %}
                    <div class="subtitle">
                      <a href="{{ blogs['news'].url }}">{{ 'News' | escape }}</a>
                    </div>
                  {% endif %}


                  {% comment %} TITLE {% endcomment %}
                  <div class="title">
                    <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
                  </div>


                  {% comment %} PRICE {% endcomment %}
                  {% if item.object_type == 'product' %}
                    <div class="price">
                      {{ item.price | money_without_trailing_zeros }}
                    </div>
                  {% endif %}

                  {% if item.object_type == 'product' %}
                    <ul class="tags">
                      {% for tag in item.tags %}
                        {% if tag != 'OOP' %}
                          <li>{{ tag |  capitalize }}{% if forloop.last %}{% else %}{{',' |  escape }}&nbsp;{% endif %}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}


                </li>

              {% endif %}


            {% endfor %}

          </ul>
          
        {% endif %}    
        
        {% render 'pagination--collection' paginate: paginate %}
      
      {% endpaginate %}  
      
    {% else %}

      <div class="empty-search">
        {% render 'recommended-products' %}
        <div class="current-artists">
          {% render 'current-artists' header: 'minimal' %}
        </div>
      </div>

    {% endif %}  

  </div>
</div>


